<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://fvoiceaccount2.documents.azure.com:443/" />
        <add key="accountKey" value="DqKzngmyRjdEczWwLLk3y0IyhT8QKsI93nlwWhadK3miV4dbvThRX8GaxO0x5WqOW4leYotxRUQ4TwHkBfe4Bw==" />
      </appSettings>
</configuration>